* {
  margin: 0px;
  padding: 0px;
}
.square {
  display: block;
  border: 1px black solid;
<<<<<<< HEAD
  border-width: 1px;
  background-color: lightgrey;
  /* height: --sqr-height; */
  /* width: --sqr-width; */
=======
  background-color: rgb(211, 211, 211);
  width: calc(100% / var(--number));
  height: calc(100% / var(--number));
  box-sizing: border-box;
>>>>>>> newApproach
}
.container {
  height: 960px;
  width: 960px;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: antiquewhite;
  border: 10px black solid;
  border-radius: 10px;
}
button {
  width: auto;
  height: 30px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 50px;
  padding: 0px 20px;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
